Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd easyres-api
  
      dotnet build --configuration $(buildConfiguration)
  
      '
    displayName: dotnet build $(buildConfiguration)
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: easyres-api
      includeRootFolder: false
      archiveType: zip
  ...

azure-pipelines/azure-pipelines-pwa.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      cd easyres-pwa
  
      npm install
  
      ng build --prod
  
      '
    displayName: npm install and build
  - script: 'ng test
  
      '
  ...

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

Adding Azure Web config
  easyres-pwa/angular.json
  easyres-pwa/src/web.config
Due: azure-pipelines/azure-pipelines-pwa.yml

toevoeging van lijsten gereed of niet
  easyres-api/Controllers/BestellingController.cs
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: azure-pipelines/azure-pipelines-api.yml

Weergeven van reservaties en verwijderen
  easyres-api/Controllers/ReserveringController.cs
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Reservatie.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Modal popup bevestiging
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen favorietenlijst per gebruiker
  easyres-api/Controllers/FavorietenController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/easyres-api.csproj
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/favorieten/favorieten.component.html
  easyres-pwa/src/app/favorieten/favorieten.component.scss
  easyres-pwa/src/app/favorieten/favorieten.component.spec.ts
  easyres-pwa/src/app/favorieten/favorieten.component.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Toevoegen animatie
  easyres-pwa/src/app/animation.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Bestelling kan geüpdate worden in back-end
  easyres-api/Controllers/BestellingController.cs
  easyres-api/Controllers/ReserveringController.cs
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/Adres.cs
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Menu.cs
  easyres-api/Model/Openingsuren.cs
  easyres-api/Model/Product.cs
  easyres-api/Model/Reservatie.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/Program.cs
  easyres-api/Services/SendGridEmailSender.cs
  easyres-api/Startup.cs
  easyres-api/easyres-api.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Tests bugfix
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Meer weergeven knop
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen rode kruis voor verwijdering in front-end
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Mogelijk tot verwijderen van product uit bestelling
  easyres-api/Controllers/ReserveringController.cs
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.scss
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Clean code MSAL
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Change SQL connection string to Azure
  easyres-api/appsettings.json
Due: azure-pipelines/azure-pipelines-api.yml

Add Azure API to Angular
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Add UserId
  easyres-pwa/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

userid integratie + bugfix reservatie
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfixes
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen foto restaurant pagina
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/assets/img/bottle-coffee-cuisine-511763.jpg
  easyres-pwa/src/assets/img/restaurant.jpg
Due: azure-pipelines/azure-pipelines-pwa.yml

testing
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/reservatie/reservatie.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfix aanroepen msalservice
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update azure-pipelines-keukenbarscherm.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-keukenbarscherm.yml
Due: none

Verwijderen restaurants uit favorieten
  easyres-api/Controllers/FavorietenController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/appsettings.json
  easyres-pwa/src/app/favorieten/favorieten.component.html
  easyres-pwa/src/app/favorieten/favorieten.component.scss
  easyres-pwa/src/app/favorieten/favorieten.component.spec.ts
  easyres-pwa/src/app/favorieten/favorieten.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

update for lussen
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
Due: none

toevoegen bestellingen aan de juiste lijst
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Afwerken keuken bestellingen
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Update bugfix intialiser db
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix + remove unnecessary DBinit
  easyres-api/Model/DbInitializer.cs
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/index.html
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

bugfix db init
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update app.component.ts
  easyres-keukenbarscherm/src/app/app.component.ts
Due: none

update+test changes
  easyres-pwa/package-lock.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

update cli
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
Due: azure-pipelines/azure-pipelines-pwa.yml

rollback msal
  easyres-pwa/src/app/app.module.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update package.json
  easyres-pwa/package.json
Due: azure-pipelines/azure-pipelines-pwa.yml

Path conditions:
  azure-pipelines/azure-pipelines-api.yml: any of: easyres-api
  azure-pipelines/azure-pipelines-pwa.yml: any of: easyres-pwa
