Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-keukenbarscherm.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: easyres-api/easyres-api/easyres-api.csproj
      arguments: --configuration $(BuildConfiguration)
  - task: DotNetCoreCLI@2
  ...

azure-pipelines/azure-pipelines-keukenbarscherm.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      '
    displayName: install Angular CLI
  - task: Npm@1
    inputs:
      command: install
      workingDir: easyres-keukenbarscherm
  ...

azure-pipelines/azure-pipelines-pwa.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      cd easyres-pwa
  
      npm install
  
      ng build --prod
  
      '
    displayName: npm install and build
  - script: 'ng test
  
      '
  ...

dropdown login in keukenbarscherm
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Add Migrations
  easyres-api/Data layer/Migrations/20191209162451_InitialCreate.Designer.cs
  easyres-api/Data layer/Migrations/20191209162451_InitialCreate.cs
  easyres-api/Data layer/Migrations/DatabaseContextModelSnapshot.cs
  easyres-api/Data layer/Model/DatabaseContext.cs
  easyres-api/easyres-api/Startup.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update web.config
  easyres-pwa/src/web.config
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfix mobiele navigatie pwa en keukenbarscherm
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
  easyres-keukenbarscherm/src/main.css
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml, azure-pipelines/azure-pipelines-pwa.yml

Remove unnecessary DBInit
  easyres-api/Data layer/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

Delete bestellingen on delete sessie
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/Data layer/Interfaces/IBestellingenRepository.cs
  easyres-api/Data layer/Repositories/BestellingenRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update index.html
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Update manifest.json
  easyres-pwa/src/assets/icons/manifest.json
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanmaken testproject
  easyres-api/UnitTestAPI/UnitTest1.cs
  easyres-api/UnitTestAPI/UnitTestAPI.csproj
  easyres-api/easyres-api.sln
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix bij tonen "U heeft nog geen reservaties."
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Tonen wanneer er geen facturen zijn bij een restaurant
  easyres-keukenbarscherm/src/app/facturen/facturen.component.html
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.html
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Lege bestellingen worden niet meer getoond
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Bugfix tonen van reservaties
  easyres-api/Data layer/Repositories/RestaurantRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Modal bugfix bij reservatielijst
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.html
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Modal bugfix bij bar en keuken
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Toevoegen auto update van bar/keuken
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Verwijderen van onnodig interval
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Toevoegen laadteken + errorbericht bij reservatielijst
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Toevoegen vergeten index in *ngFor in barcomponent
  easyres-keukenbarscherm/src/app/bar/bar.component.html
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Toevoegen testing reservaties,bestellingen
  easyres-api/Data layer/Model/DatabaseContext.cs
  easyres-api/UnitTestAPI/BestellingTest.cs
  easyres-api/UnitTestAPI/ReserveerTest.cs
  easyres-api/UnitTestAPI/UnitTest1.cs
  easyres-api/UnitTestAPI/UnitTestAPI.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Vergeten testmethode aanpassen delete bestellingen
  easyres-api/UnitTestAPI/BestellingTest.cs
Due: azure-pipelines/azure-pipelines-api.yml

Reserveren in het verleden gaat niet meer
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

update title website
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

sessie component button bugfix
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

styling change restaurant component
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Add no gebruiker + fixing tests
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/guard/msal.guard.spec.ts
  easyres-pwa/src/app/instellingen/instellingen.component.spec.ts
  easyres-pwa/src/app/instellingen/instellingen.component.ts
  easyres-pwa/src/app/no-gebruiker/no-gebruiker.component.html
  easyres-pwa/src/app/no-gebruiker/no-gebruiker.component.scss
  easyres-pwa/src/app/no-gebruiker/no-gebruiker.component.spec.ts
  easyres-pwa/src/app/no-gebruiker/no-gebruiker.component.ts
  easyres-pwa/src/app/services/msal.service.spec.ts
  easyres-pwa/src/app/services/msal.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen crud testen
  easyres-api/Business layer/Facades/FavorietenFacade.cs
  easyres-api/Business layer/Interfaces/IFavorietenFacade.cs
  easyres-api/Data layer/Interfaces/IFavorietenRepository.cs
  easyres-api/Data layer/Repositories/FavorietenRepository.cs
  easyres-api/UnitTestAPI/BestellingTest.cs
  easyres-api/UnitTestAPI/FavorietenTest.cs
  easyres-api/UnitTestAPI/ReserveerTest.cs
  easyres-api/UnitTestAPI/RestaurantTest.cs
  easyres-api/UnitTestAPI/UnitTestAPI.csproj
  easyres-api/easyres-api/Controllers/FavorietenController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Fixen van testen
  easyres-pwa/src/app/favorieten/favorieten.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Add no uitbater to KeukenBarScherm
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/no-uitbater/no-uitbater.component.html
  easyres-keukenbarscherm/src/app/no-uitbater/no-uitbater.component.scss
  easyres-keukenbarscherm/src/app/no-uitbater/no-uitbater.component.spec.ts
  easyres-keukenbarscherm/src/app/no-uitbater/no-uitbater.component.ts
  easyres-keukenbarscherm/src/app/services/msal.service.spec.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.ts
  easyres-pwa/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml, azure-pipelines/azure-pipelines-pwa.yml

Add No Restaurant
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.ts
  easyres-keukenbarscherm/src/app/facturen/facturen.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/no-restaurant/no-restaurant.component.html
  easyres-keukenbarscherm/src/app/no-restaurant/no-restaurant.component.scss
  easyres-keukenbarscherm/src/app/no-restaurant/no-restaurant.component.spec.ts
  easyres-keukenbarscherm/src/app/no-restaurant/no-restaurant.component.ts
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

fix tests
  easyres-keukenbarscherm/src/app/bar/bar.component.spec.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.spec.ts
  easyres-keukenbarscherm/src/app/guard/msal.guard.spec.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.spec.ts
Due: azure-pipelines/azure-pipelines-keukenbarscherm.yml

Bufix tonen van factuur
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Bufix tonen bekijke bestelling en totaalprijs niet op 1 lijn
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen meer info facturen bij keukenbarscherm
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/Business layer/Interfaces/IFactuurFacade.cs
  easyres-api/Data layer/Interfaces/IFactuurRepository.cs
  easyres-api/Data layer/Repositories/FactuurRepository.cs
  easyres-api/easyres-api/Controllers/FactuurController.cs
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.html
  easyres-keukenbarscherm/src/app/factuur-more-info/factuur-more-info.component.html
  easyres-keukenbarscherm/src/app/factuur-more-info/factuur-more-info.component.scss
  easyres-keukenbarscherm/src/app/factuur-more-info/factuur-more-info.component.spec.ts
  easyres-keukenbarscherm/src/app/factuur-more-info/factuur-more-info.component.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.ts
  easyres-pwa/src/app/services/factuur.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-keukenbarscherm.yml, azure-pipelines/azure-pipelines-pwa.yml

Tonen rode tekst + rood maken van fout bij reserveren
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Verwijderen van een spatie die te veel is bij zaterdag openingsuren
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen margin onderaan onder deserts
  easyres-pwa/src/app/bestel/bestel.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen tekstgrootte bij bekijken van de facturen
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Bugfix openingsuren
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Path conditions:
  azure-pipelines/azure-pipelines-api.yml: any of: easyres-api
  azure-pipelines/azure-pipelines-keukenbarscherm.yml: any of: easyres-keukenbarscherm
  azure-pipelines/azure-pipelines-pwa.yml: any of: easyres-pwa
