Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd easyres-api
  
      dotnet build --configuration $(buildConfiguration)
  
      '
    displayName: dotnet build $(buildConfiguration)
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: easyres-api
      includeRootFolder: false
      archiveType: zip
  ...

azure-pipelines/azure-pipelines-pwa.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      cd easyres-pwa
  
      npm install
  
      ng build --prod
  
      '
    displayName: npm install and build
  - script: 'ng test
  
      '
  ...

bugfix test
  easyres-api/Services/PDFGenerator.cs
Due: azure-pipelines/azure-pipelines-api.yml

Kaart voltooid
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.scss
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen knop voeg toe naar aantal textveld
  easyres-api/Services/PDFGenerator.cs
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/app/bestel/bestel.component.ts
  easyres-pwa/src/app/services/common.service.ts
  easyres-pwa/src/environments/environment.prod.ts
  easyres-pwa/src/environments/environment.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Bugfix met .subscribe error bij testen
  easyres-pwa/src/app/bestel/bestel.component.spec.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.spec.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.spec.ts
  easyres-pwa/src/app/facturen/facturen.component.spec.ts
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.spec.ts
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.spec.ts
  easyres-pwa/src/app/factuur/factuur.component.spec.ts
  easyres-pwa/src/app/favorieten/favorieten.component.spec.ts
  easyres-pwa/src/app/instellingen/instellingen.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/reservatie/reservatie.component.spec.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.spec.ts
  easyres-pwa/src/app/scan/scan.component.spec.ts
  easyres-pwa/src/app/sessie/sessie.component.spec.ts
  easyres-pwa/src/app/toolbar/toolbar.component.spec.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update azure-pipelines-pwa.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-pwa.yml
Due: none

Tijdelijk commenten van pdf factuur via mail
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

toevoegen van mobiele navigatie + stylefix
  easyres-pwa/angular.json
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/index.html
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen tekst wanneer er geen sessies gevonden zijn voor het account
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.scss
  easyres-pwa/src/app/sessie/sessie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Verwijderen commentaar
  easyres-pwa/src/app/sessie/sessie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen tekst wanneer er geen facturen gevonden zijn
  easyres-pwa/src/app/facturen/facturen.component.html
  easyres-pwa/src/app/facturen/facturen.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen privacybeleid
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/privacy/privacy.component.html
  easyres-pwa/src/app/privacy/privacy.component.scss
  easyres-pwa/src/app/privacy/privacy.component.spec.ts
  easyres-pwa/src/app/privacy/privacy.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfixes
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-pwa.yml

Alle filterattributen worden opgeslagen doorheen de app/website
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/filter.service.spec.ts
  easyres-pwa/src/app/services/filter.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Uniforme weergave + visuele bugfixes
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/app/facturen/facturen.component.html
  easyres-pwa/src/app/facturen/facturen.component.scss
  easyres-pwa/src/app/favorieten/favorieten.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen tekst footer mooi over de volledige lengte
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Live Testing for Error
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Live Testing for error
  easyres-api/Controllers/FactuurController.cs
  easyres-pwa/src/app/services/factuur.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

Bugifx factuur alleen betaald wanneer betaling succesvol
  easyres-pwa/src/app/factuur/factuur.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Remove Testing
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

bugfix factuur betaald wanneer nog niet betaald is + auto redirect
  easyres-pwa/src/app/factuur/factuur.component.html
  easyres-pwa/src/app/factuur/factuur.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update factuur in backend bij succesvolle betaling
  easyres-api/Controllers/FactuurController.cs
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/app/services/factuur.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Visuele bugfix scan knop
  easyres-pwa/src/app/restaurant/restaurant.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Tonen text bij lege restaurantlijst
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/filter.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen laadsymbool restaurantlijst + tonen wanneer gefaald
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/filter.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Filter toevoegen voor voorbije of komende reservaties
  easyres-api/Controllers/ReserveringController.cs
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

live test
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

fix tests
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update main.css mobiele navigatie fix
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-pwa.yml

remove live test
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Visuele fix
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Update main.css
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-pwa.yml

add .gitignore
  .gitignore
Due: none

Toevoegen gitignores
  .gitignore
  easyres-api/Business layer/.gitignore
  easyres-api/Data layer/.gitignore
  easyres-api/Data layer/Repositories/BestellingenRepository.cs
  easyres-api/easyres-api/Controllers/FactuurController.cs
  easyres-api/easyres-api/Controllers/ReserveringController.cs
  easyres-api/easyres-api/Controllers/RestaurantController.cs
  easyres-api/easyres-api/Startup.cs
Due: azure-pipelines/azure-pipelines-api.yml

add gitgnore to api
  easyres-api/.gitignore
Due: azure-pipelines/azure-pipelines-api.yml

remove bin & obj + add to gitignore
  easyres-api/Business layer/.gitignore
  easyres-api/Business layer/bin/Debug/netcoreapp2.2/Microsoft.AspNetCore.Mvc.Core.dll
  easyres-api/Business layer/bin/Debug/netcoreapp2.2/Microsoft.AspNetCore.Mvc.Core.xml
  easyres-api/Business layer/obj/Business layer.csproj.nuget.cache
  easyres-api/Business layer/obj/Business layer.csproj.nuget.dgspec.json
  easyres-api/Business layer/obj/Business layer.csproj.nuget.g.props
  easyres-api/Business layer/obj/Business layer.csproj.nuget.g.targets
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.AssemblyInfo.cs
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.AssemblyInfoInputs.cache
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.assets.cache
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.csproj.CoreCompileInputs.cache
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.csproj.FileListAbsolute.txt
  easyres-api/Business layer/obj/Debug/netcoreapp2.2/Business layer.csprojAssemblyReference.cache
  easyres-api/Business layer/obj/project.assets.json
  easyres-api/Data layer/.gitignore
  easyres-api/Data layer/obj/Data layer.csproj.nuget.cache
  easyres-api/Data layer/obj/Data layer.csproj.nuget.dgspec.json
  easyres-api/Data layer/obj/Data layer.csproj.nuget.g.props
  easyres-api/Data layer/obj/Data layer.csproj.nuget.g.targets
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.AssemblyInfo.cs
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.AssemblyInfoInputs.cache
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.assets.cache
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.csproj.CoreCompileInputs.cache
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.csproj.FileListAbsolute.txt
  easyres-api/Data layer/obj/Debug/netcoreapp2.2/Data layer.csprojAssemblyReference.cache
  easyres-api/Data layer/obj/project.assets.json
Due: azure-pipelines/azure-pipelines-api.yml

Path conditions:
  azure-pipelines/azure-pipelines-api.yml: any of: easyres-api
  azure-pipelines/azure-pipelines-pwa.yml: any of: easyres-pwa
