Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-api/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: 'easyres-api/easyres-api.csproj'
    feedsToUse: 'select'
    vstsFeed: 'e100400c-66c2-4511-a10c-e7adab119964'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    projects: 'easyres-api/easyres-api.csproj'
    arguments: '--configuration Release $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

azure-pipelines/azure-pipelines-pwa.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-pwa/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    cd easyres-pwa
    npm install
    ng build --prod
  displayName: 'npm install and build'

- script: |
    ng test
  displayName: 'Running Tests'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'easyres-pwa/dist/easyres-pwa'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

Verwijderen oude solution
  easyres-api/easyres-api/easyres-api.sln
Due: azure-pipelines/azure-pipelines-api.yml

adding packagereferences
  easyres-api/Data layer/Data layer.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Verwijderen mvc reference
  easyres-api/Data layer/Repositories/FavorietenRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Verwijderen onnodige usings
  easyres-api/Business layer/Facades/BestellingenFacade.cs
  easyres-api/Business layer/Interfaces/IBestellingenFacade.cs
Due: azure-pipelines/azure-pipelines-api.yml

Adding past reservations to api
  easyres-api/Business layer/Facades/ReserveringenFacade.cs
  easyres-api/Business layer/Interfaces/IReserveringenFacade.cs
  easyres-api/Data layer/Interfaces/IReserveringenRepository.cs
  easyres-api/Data layer/Repositories/ReserveringenRepository.cs
  easyres-api/easyres-api/Controllers/ReserveringController.cs
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

adding logic to comming past reservations
  easyres-api/Data layer/Repositories/ReserveringenRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update azure-pipelines-pwa.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-pwa.yml
Due: none

Update azure-pipelines-keukenbarscherm.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-keukenbarscherm.yml
Due: none

remove sql update to latest
  easyres-api/sql/update_to_latest.sql
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen van enkele basistesten
  easyres-pwa/src/app/bestel/bestel.component.spec.ts
  easyres-pwa/src/app/favorieten/favorieten.component.spec.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.spec.ts
  easyres-pwa/src/app/services/bestelling.service.spec.ts
  easyres-pwa/src/app/services/bestelling.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Sorteren toevoegen aan Front-end
  easyres-pwa/src/app/facturen/facturen.component.html
  easyres-pwa/src/app/facturen/facturen.component.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/services/factuur.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update easyres-api.csproj
  easyres-api/easyres-api/easyres-api.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen system.drawing voor pdfgenerator
  easyres-api/Business layer/Business layer.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Verwijdren fixture.detectchanges()
  easyres-pwa/src/app/privacy/privacy.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Visuele bugfixes
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/easyres-api/easyres-api.csproj
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Error bugfix
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Adding sort in back-end
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/Business layer/Facades/ReserveringenFacade.cs
  easyres-api/Business layer/Interfaces/IFactuurFacade.cs
  easyres-api/Business layer/Interfaces/IReserveringenFacade.cs
  easyres-api/Data layer/Interfaces/IFactuurRepository.cs
  easyres-api/Data layer/Interfaces/IReserveringenRepository.cs
  easyres-api/Data layer/Repositories/FactuurRepository.cs
  easyres-api/Data layer/Repositories/ReserveringenRepository.cs
  easyres-api/easyres-api/Controllers/FactuurController.cs
  easyres-api/easyres-api/Controllers/ReserveringController.cs
Due: azure-pipelines/azure-pipelines-api.yml

bugfix
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Pwa manifest + icons
  easyres-pwa/src/assets/icons/README.md
  easyres-pwa/src/assets/icons/android-chrome-192x192.png
  easyres-pwa/src/assets/icons/android-chrome-512x512.png
  easyres-pwa/src/assets/icons/apple-touch-icon-114x114.png
  easyres-pwa/src/assets/icons/apple-touch-icon-120x120.png
  easyres-pwa/src/assets/icons/apple-touch-icon-144x144.png
  easyres-pwa/src/assets/icons/apple-touch-icon-152x152.png
  easyres-pwa/src/assets/icons/apple-touch-icon-180x180.png
  easyres-pwa/src/assets/icons/apple-touch-icon-57x57.png
  easyres-pwa/src/assets/icons/apple-touch-icon-60x60.png
  easyres-pwa/src/assets/icons/apple-touch-icon-72x72.png
  easyres-pwa/src/assets/icons/apple-touch-icon-76x76.png
  easyres-pwa/src/assets/icons/apple-touch-icon.png
  easyres-pwa/src/assets/icons/browserconfig.xml
  easyres-pwa/src/assets/icons/favicon-16x16.png
  easyres-pwa/src/assets/icons/favicon-32x32.png
  easyres-pwa/src/assets/icons/favicon.ico
  easyres-pwa/src/assets/icons/html_code.html
  easyres-pwa/src/assets/icons/icon-128x128.png
  easyres-pwa/src/assets/icons/icon-144x144.png
  easyres-pwa/src/assets/icons/icon-152x152.png
  easyres-pwa/src/assets/icons/icon-192x192.png
  easyres-pwa/src/assets/icons/icon-384x384.png
  easyres-pwa/src/assets/icons/icon-512x512.png
  easyres-pwa/src/assets/icons/icon-72x72.png
  easyres-pwa/src/assets/icons/icon-96x96.png
  easyres-pwa/src/assets/icons/mstile-150x150.png
  easyres-pwa/src/assets/icons/safari-pinned-tab.svg
  easyres-pwa/src/assets/icons/site.webmanifest
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

manifest naming fix
  easyres-pwa/src/assets/icons/manifest.json
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

fix manifest
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfix pop-ups
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

mobiele navigatie fix voor kleinere schermen alleen icoontjes
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/main.css
Due: azure-pipelines/azure-pipelines-pwa.yml

Zoeken naar producten bij bestellen
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/app/bestel/bestel.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Testen laten slagen
  easyres-pwa/src/app/bestel/bestel.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Oplossen designfout bij het bestellen van producten
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Weergeven betaalde/openstaande facturen voor uitbater
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/Business layer/Interfaces/IFactuurFacade.cs
  easyres-api/Data layer/Interfaces/IFactuurRepository.cs
  easyres-api/Data layer/Model/Factuur.cs
  easyres-api/Data layer/Repositories/FactuurRepository.cs
  easyres-api/easyres-api/Controllers/FactuurController.cs
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/facturen/facturen.component.html
  easyres-keukenbarscherm/src/app/facturen/facturen.component.scss
  easyres-keukenbarscherm/src/app/facturen/facturen.component.spec.ts
  easyres-keukenbarscherm/src/app/facturen/facturen.component.ts
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.html
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.scss
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.spec.ts
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml

Fixing tests
  easyres-keukenbarscherm/src/app/facturen/facturen.component.spec.ts
  easyres-keukenbarscherm/src/app/facturen/facturen.component.ts
  easyres-keukenbarscherm/src/app/facturen/factuur/factuur.component.spec.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
Due: none

toevoegen mobiele navigatie keuken/bar
  easyres-keukenbarscherm/angular.json
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
  easyres-keukenbarscherm/src/index.html
  easyres-keukenbarscherm/src/main.css
Due: none

Can't delete past reservations
  easyres-api/Business layer/Facades/ReserveringenFacade.cs
  easyres-api/easyres-api/Controllers/ReserveringController.cs
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Delete sessionon get factuur
  easyres-api/Business layer/Facades/FactuurFacade.cs
  easyres-api/Data layer/Interfaces/ISessieRepository.cs
  easyres-api/Data layer/Repositories/SessieRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml
