Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd easyres-api
  
      dotnet build --configuration $(buildConfiguration)
  
      '
    displayName: dotnet build $(buildConfiguration)
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: easyres-api
      includeRootFolder: false
      archiveType: zip
  ...

azure-pipelines/azure-pipelines-pwa.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      cd easyres-pwa
  
      npm install
  
      ng build --prod
  
      '
    displayName: npm install and build
  - script: 'ng test
  
      '
  ...

Toevoegen design voor visualiseren bestellingen
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/app/bestel/bestel.component.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.scss
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.html
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Oplossen designprobleem bij bestelde gerechten
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Mogelijkheid tot toevoegen van restaurants aan favorieten
  easyres-api/Controllers/FavorietenController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-pwa/src/app/favorieten/favorieten.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/restaurant/restaurant.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/sessie/sessie.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Bugfix wanneer niet ingelogd
  easyres-pwa/src/app/restaurant/restaurant.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Navigatie naar scan component
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/scan/scan.component.html
  easyres-pwa/src/app/scan/scan.component.scss
  easyres-pwa/src/app/scan/scan.component.spec.ts
  easyres-pwa/src/app/scan/scan.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Add profile page
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/profiel/profiel.component.html
  easyres-pwa/src/app/profiel/profiel.component.scss
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.ts
  easyres-pwa/src/app/services/msal.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

style profile component
  easyres-pwa/src/app/profiel/profiel.component.html
  easyres-pwa/src/app/profiel/profiel.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanmaken sessie via QR-code
  easyres-api/Controllers/SessieController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/Model/Sessie.cs
  easyres-api/appsettings.json
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/scan/scan.component.html
  easyres-pwa/src/app/scan/scan.component.ts
  easyres-pwa/src/app/services/session.service.spec.ts
  easyres-pwa/src/app/services/session.service.ts
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Oplossen falen basistests
  easyres-api/appsettings.json
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/scan/scan.component.spec.ts
  easyres-pwa/src/app/services/session.service.spec.ts
  easyres-pwa/src/app/sessie/sessie.component.spec.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Mogelijk om te filteren op Land en Gemeente
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/restaurant/restaurant.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Laten slagen van alle testen
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Verwijderen console.log
  easyres-pwa/src/app/restaurant/restaurant.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Add Azure SQL drop scripts
  Azure Commands/SQL_Drop Adres.sql
  Azure Commands/SQL_Drop Bestellingen.sql
  Azure Commands/SQL_Drop Gebruikers.sql
  Azure Commands/SQL_Drop Menu.sql
  Azure Commands/SQL_Drop Openingsuren.sql
  Azure Commands/SQL_Drop Product.sql
  Azure Commands/SQL_Drop Reservaties.sql
  Azure Commands/SQL_Drop Restaurants.sql
Due: none

Revert "Merge branch 'master' into restaurantlijst"
  easyres-api/Controllers/SessieController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/Model/Sessie.cs
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/scan/scan.component.html
  easyres-pwa/src/app/scan/scan.component.scss
  easyres-pwa/src/app/scan/scan.component.spec.ts
  easyres-pwa/src/app/scan/scan.component.ts
  easyres-pwa/src/app/services/session.service.spec.ts
  easyres-pwa/src/app/services/session.service.ts
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.spec.ts
  easyres-pwa/src/app/sessie/sessie.component.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Revert "Revert "Merge branch 'master' into restaurantlijst""
  easyres-api/Controllers/SessieController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/Model/Sessie.cs
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/scan/scan.component.html
  easyres-pwa/src/app/scan/scan.component.scss
  easyres-pwa/src/app/scan/scan.component.spec.ts
  easyres-pwa/src/app/scan/scan.component.ts
  easyres-pwa/src/app/services/session.service.spec.ts
  easyres-pwa/src/app/services/session.service.ts
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Bugfixes door merge
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Update margin camera
  easyres-pwa/src/app/scan/scan.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml

Complete profile component
  easyres-pwa/src/app/profiel/profiel.component.html
  easyres-pwa/src/app/profiel/profiel.component.scss
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.scss
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Fix profile test
  easyres-pwa/src/app/profiel/profiel.component.html
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

openingsuren collapse
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.scss
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

front end design
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.scss
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

back end + aanpassingen beschrijvingen
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/appsettings.json
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

adding user generator
  easyres-api/Controllers/UserController.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/profiel/profiel.component.ts
  easyres-pwa/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

minor bugfixes
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.scss
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Update generate user
  easyres-pwa/.vscode/launch.json
  easyres-pwa/src/app/services/msal.service.ts
  easyres-pwa/src/app/services/user.service.spec.ts
  easyres-pwa/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Adding msal to keukenbarscherm
  easyres-keukenbarscherm/package-lock.json
  easyres-keukenbarscherm/package.json
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/guard/msal.guard.spec.ts
  easyres-keukenbarscherm/src/app/guard/msal.guard.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/services/data.service.spec.ts
  easyres-keukenbarscherm/src/app/services/data.service.ts
  easyres-keukenbarscherm/src/app/services/msal.service.spec.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/start/start.component.html
  easyres-keukenbarscherm/src/app/start/start.component.scss
  easyres-keukenbarscherm/src/app/start/start.component.spec.ts
  easyres-keukenbarscherm/src/app/start/start.component.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.scss
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.ts
Due: none

Fix Generate user
  easyres-api/Controllers/SessieController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-pwa/src/app/services/msal.service.ts
  easyres-pwa/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Update SQL Drop
  Azure Commands/SQL_Drop Gebruikers.sql
  Azure Commands/SQL_Drop Sessies.sql
Due: none

fix test
  easyres-pwa/src/app/app.component.spec.ts
  easyres-pwa/src/app/bestel/bestel.component.ts
  easyres-pwa/src/app/guard/msal.guard.spec.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/services/user.service.spec.ts
  easyres-pwa/src/app/toolbar/toolbar.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update SQL_Drop Gebruikers.sql
  Azure Commands/SQL_Drop Gebruikers.sql
Due: none

update datum bestellingen
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/DbInitializer.cs
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen icon als bestelling is teruggezet
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
Due: none

fix favorieten
  easyres-api/Controllers/FavorietenController.cs
  easyres-api/Controllers/UserController.cs
  easyres-api/Model/Gebruiker.cs
Due: azure-pipelines/azure-pipelines-api.yml

Fix favorieten
  easyres-pwa/src/app/favorieten/favorieten.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

change connection string
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

bug fix terugzetten van bestelling
  easyres-api/Model/Bestelling.cs
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

design fixe keuken
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
Due: none

adding user service
  easyres-api/Model/User.cs
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/services/user.service.spec.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/services/msal.service.spec.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

aparte tijd klaar voor keuken en bar
  easyres-api/Model/Bestelling.cs
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Adding user services
  easyres-api/Controllers/UserController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Uitbater.cs
  easyres-keukenbarscherm/src/app/services/user.service.ts
  easyres-pwa/src/app/profiel/profiel.component.scss
  easyres-pwa/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Path conditions:
  azure-pipelines/azure-pipelines-api.yml: any of: easyres-api
  azure-pipelines/azure-pipelines-pwa.yml: any of: easyres-pwa
