Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd easyres-api
  
      dotnet build --configuration $(buildConfiguration)
  
      '
    displayName: dotnet build $(buildConfiguration)
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: easyres-api
      includeRootFolder: false
      archiveType: zip
  ...

azure-pipelines/azure-pipelines-pwa.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      cd easyres-pwa
  
      npm install
  
      ng build --prod
  
      '
    displayName: npm install and build
  - script: 'ng test
  
      '
  ...

verwijderen van bestellingen in api
  easyres-api/Controllers/BestellingController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update BestellingController.cs
  easyres-api/Controllers/BestellingController.cs
Due: azure-pipelines/azure-pipelines-api.yml

toevoegen 2 variabelen voor statussen
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

toevoegen modal en verwijderen van bar
  easyres-api/appsettings.json
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen model en verwijderen van keuken
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

bugfix
  easyres-api/appsettings.json
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Fix Tests
  easyres-keukenbarscherm/src/app/app.component.spec.ts
  easyres-keukenbarscherm/src/app/guard/msal.guard.spec.ts
  easyres-keukenbarscherm/src/app/services/msal.service.spec.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.ts
  easyres-pwa/src/app/services/msal.service.spec.ts
  easyres-pwa/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen google analytics
  easyres-pwa/src/app/app.component.spec.ts
  easyres-pwa/src/app/app.component.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.spec.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/google-analytics.service.spec.ts
  easyres-pwa/src/app/services/google-analytics.service.ts
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Toevoegen van events voor analytics
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.spec.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.ts
  easyres-pwa/src/app/profiel/profiel.component.spec.ts
  easyres-pwa/src/app/profiel/profiel.component.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.spec.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/toolbar/toolbar.component.spec.ts
  easyres-pwa/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen flow bij bestellen
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.html
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.scss
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.spec.ts
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.ts
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Lege bestellingen niet meer mogelijk
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Verwijderen error + bestellen flow fix
  easyres-pwa/src/app/bestel/bestel.component.html
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Bugfix na het plaatsen van een bestelling + foutmelding bij falen plaatesn bestelling
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.html
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.scss
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Tonen van spinner wanneer data wordt opgehaald
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.html
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

.length vergeten
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Werking back-end voor advertentie systeem
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/appsettings.json
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen functionaliteit advertentie front-end
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Fix Connection String
  easyres-api/appsettings.json
Due: azure-pipelines/azure-pipelines-api.yml

Begin isuitbater
  easyres-api/Controllers/UserController.cs
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Factuur genereren en tonen
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Model/DatabaseContext.cs
  easyres-api/Model/Factuur.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.scss
  easyres-pwa/src/app/factuur/factuur.component.html
  easyres-pwa/src/app/factuur/factuur.component.scss
  easyres-pwa/src/app/factuur/factuur.component.spec.ts
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/factuur.service.spec.ts
  easyres-pwa/src/app/services/factuur.service.ts
  easyres-pwa/src/app/sessie/sessie.component.html
  easyres-pwa/src/app/sessie/sessie.component.scss
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Algemene service aangemaakt
  easyres-pwa/src/app/bestel/bestel.component.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/app/favorieten/favorieten.component.ts
  easyres-pwa/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.ts
  easyres-pwa/src/app/restaurant/restaurant.component.ts
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/common.service.spec.ts
  easyres-pwa/src/app/services/common.service.ts
  easyres-pwa/src/app/services/factuur.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/services/session.service.ts
  easyres-pwa/src/app/services/user.service.ts
  easyres-pwa/src/app/sessie/sessie.component.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Fix isuitbater
  easyres-api/Controllers/UserController.cs
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

fix Connection string
  easyres-keukenbarscherm/src/app/services/user.service.ts
Due: none

Sorteren op soorten van gerechten
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/restaurant/restaurant.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Add Facturen
  easyres-api/Controllers/FactuurController.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/facturen/facturen.component.html
  easyres-pwa/src/app/facturen/facturen.component.scss
  easyres-pwa/src/app/facturen/facturen.component.spec.ts
  easyres-pwa/src/app/facturen/facturen.component.ts
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.html
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.scss
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.spec.ts
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.ts
  easyres-pwa/src/app/services/factuur.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Add SQL Drop
  Azure Commands/SQL_Drop Facturen.sql
  Azure Commands/SQL_Drop Uitbaters.sql
Due: none

fix tests
  easyres-pwa/src/app/facturen/facturen.component.spec.ts
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

tafel implementatie
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/Model/Tafel.cs
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.scss
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.ts
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

redirecting fix
  easyres-api/appsettings.json
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Fix facturen prijs
  easyres-api/Controllers/FactuurController.cs
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

dashboard in keukenbarscherm + fixes
  easyres-api/appsettings.json
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.html
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.scss
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.spec.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/services/common.service.spec.ts
  easyres-keukenbarscherm/src/app/services/common.service.ts
  easyres-keukenbarscherm/src/app/services/data.service.ts
  easyres-keukenbarscherm/src/app/services/restaurant.service.spec.ts
  easyres-keukenbarscherm/src/app/services/restaurant.service.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.scss
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
  easyres-pwa/src/app/restaurant/restaurant.component.scss
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

fix connection strings
  easyres-api/appsettings.json
  easyres-keukenbarscherm/src/app/services/common.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

fixes
  easyres-pwa/src/app/services/common.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

bugfix
  easyres-pwa/src/app/services/common.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

component update + bugfix
  easyres-pwa/src/app/restaurant/restaurant.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Fix beschrijving + MsalGuard
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-pwa/src/app/restaurant/restaurant.component.html
Due: azure-pipelines/azure-pipelines-pwa.yml

reservatie annuleren email
  easyres-api/Controllers/ReserveringController.cs
  easyres-api/Controllers/RestaurantController.cs
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

add betalen
  easyres-pwa/src/app/factuur/factuur.component.html
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

comment paypal payment
  easyres-pwa/src/app/factuur/factuur.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

back-end functionaliteit controle reservaties
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Reservatie.cs
  easyres-api/Model/Tafel.cs
  easyres-api/appsettings.json
  easyres-pwa/src/app/services/common.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Path conditions:
  azure-pipelines/azure-pipelines-api.yml: any of: easyres-api
  azure-pipelines/azure-pipelines-pwa.yml: any of: easyres-pwa
