Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-api/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: |
    cd easyres-api
    dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'easyres-api'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

azure-pipelines/azure-pipelines-pwa.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-pwa/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    cd easyres-pwa
    npm install
    ng build --prod
  displayName: 'npm install and build'

- script: |
    ng test
  displayName: 'Running Tests'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'easyres-pwa/dist/easyres-pwa'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

update angular
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
Due: azure-pipelines/azure-pipelines-pwa.yml

Bugfix initialiser
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

Add Msal Guard
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/guard/msal.guard.spec.ts
  easyres-pwa/src/app/guard/msal.guard.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update Msal Guard
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/guard/msal.guard.ts
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/msal.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Create web.config
  easyres-keukenbarscherm/src/web.config
Due: none

Add web.config to angular.json
  easyres-keukenbarscherm/angular.json
Due: none

Add Password Reset
  easyres-pwa/src/app/services/msal.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Add Edit User
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.scss
  easyres-pwa/src/app/toolbar/toolbar.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Restyle keuken bestelling
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
Due: none

Grid aanpassing + Toevoegen Fontawesome
  easyres-keukenbarscherm/package-lock.json
  easyres-keukenbarscherm/package.json
  easyres-keukenbarscherm/src/app/app.component.html
  easyres-keukenbarscherm/src/app/app.component.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Tijd toevoegen, zichbaarheid verbeteren, bugfixes
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.scss
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.ts
Due: none

Update azure-pipelines-pwa.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-pwa.yml
Due: none

update msal.guard.spec
  easyres-pwa/src/app/guard/msal.guard.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Update azure-pipelines-keukenbarscherm.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-keukenbarscherm.yml
Due: none

aanpassen icons
  easyres-keukenbarscherm/package-lock.json
  easyres-keukenbarscherm/package.json
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/index.html
Due: none

aanpassing klok
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
Due: none

update naam om database aan te roepen voor bar
  easyres-keukenbarscherm/src/app/bar/bar.component.html
Due: none

bugfixe forlussen
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

bugfixes en bar bestellingen updaten (done, back)
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

betere functienaam in data service
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Update data.service.ts (url)
  easyres-keukenbarscherm/src/app/data.service.ts
Due: none

toevoegen van bar style
  easyres-keukenbarscherm/src/app/bar/bar.component.scss
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
Due: none

toevoegen done, back html in bar
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.scss
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
Due: none

Aanpassen calls voor api bij bestelling
  easyres-api/Controllers/BestellingController.cs
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Restaurant.cs
  easyres-api/appsettings.json
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.html
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.scss
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.spec.ts
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.ts
  easyres-pwa/src/app/bestel/bestel.component.scss
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.scss
  easyres-pwa/src/app/bestellingen/bestellingen.component.spec.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
  easyres-pwa/src/app/sessie/sessie.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

bugfix met lege arrays
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

buttons kleiner gemaakt
  easyres-keukenbarscherm/src/app/bar/bar.component.scss
  easyres-keukenbarscherm/src/app/keuken/keuken.component.scss
Due: none

realtime klok
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.ts
Due: none

Realtime Done tijd + opkuisen
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Functionele werking oplijsten van bestellingen
  easyres-api/Controllers/BestellingController.cs
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Model/Restaurant.cs
  easyres-pwa/src/app/bestel/bestel.component.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.scss
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Revert "Realtime Done tijd + opkuisen"
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

Bugfix nullReference bij oproepen objecten voor keuken/bar
  easyres-api/Model/Bestelling.cs
Due: azure-pipelines/azure-pipelines-api.yml

bestellingen tijd toevoegen
  easyres-api/Model/Bestelling.cs
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

realtime klok toegevoegd in keukenbestellingen
  easyres-keukenbarscherm/src/app/data.service.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

realtime klok toegevoegd in keukenbestellingen en opkuisen code
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

finalisatie en voorbereiding naar nieuwe database
  easyres-keukenbarscherm/src/app/data.service.ts
Due: none

finalisatie database
  easyres-api/appsettings.json
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix met een unassigned variabele
  easyres-pwa/src/app/bestellingen/bestellingen.component.html
  easyres-pwa/src/app/bestellingen/bestellingen.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Alle testen laten slagen voor de bestellingcomponenten
  easyres-pwa/src/app/bestel-opties/bestel-opties.component.spec.ts
  easyres-pwa/src/app/bestel/bestel.component.spec.ts
  easyres-pwa/src/app/bestelde-producten/bestelde-producten.component.spec.ts
  easyres-pwa/src/app/bestellingen/bestellingen.component.spec.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.spec.ts
  easyres-pwa/src/app/verstuur-bestelling/verstuur-bestelling.component.spec.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen url naar online url
  easyres-pwa/src/app/services/bestelling.service.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

startup controlepaneel
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.html
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.scss
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.spec.ts
  easyres-pwa/src/app/controle-paneel/controle-paneel.component.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
  easyres-pwa/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-pwa.yml
