Repository JensPeeters/EasyRes: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

azure-pipelines/azure-pipelines-api.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-api/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: |
    cd easyres-api
    dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'easyres-api'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

azure-pipelines/azure-pipelines-pwa.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - easyres-pwa/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    cd easyres-pwa
    npm install
    ng build --prod
  displayName: 'npm install and build'

- script: |
    ng test
  displayName: 'Running Tests'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'easyres-pwa/dist/easyres-pwa'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

Front-end functionaliteit controle op reservatie
  easyres-pwa/src/app/reservatie/reservatie.component.html
  easyres-pwa/src/app/reservatie/reservatie.component.ts
  easyres-pwa/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Controle of het restaurant op een bepaald uur bezet is compleet.
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Model/Tafel.cs
  easyres-api/Model/Tijdsmoment.cs
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

Aanpassen connection strings
  easyres-api/appsettings.json
  easyres-pwa/src/app/services/common.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

stripe payment
  easyres-pwa/src/app/factuur/factuur.component.html
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/index.html
Due: azure-pipelines/azure-pipelines-pwa.yml

Genereren van een factuur pdfbestand
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Images/easyres.png
  easyres-api/Services/PDFGenerator.cs
  easyres-api/easyres-api.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Sturen van mail met factuur
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Controllers/RestaurantController.cs
  easyres-api/Controllers/UserController.cs
  easyres-api/Model/Gebruiker.cs
  easyres-api/Services/SendGridEmailSender.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/factuur/factuur.component.ts
  easyres-pwa/src/app/favorieten/favorieten.component.html
  easyres-pwa/src/app/instellingen/instellingen.component.html
  easyres-pwa/src/app/instellingen/instellingen.component.scss
  easyres-pwa/src/app/instellingen/instellingen.component.spec.ts
  easyres-pwa/src/app/instellingen/instellingen.component.ts
  easyres-pwa/src/app/services/common.service.ts
  easyres-pwa/src/app/services/factuur.service.ts
  easyres-pwa/src/app/services/user.service.ts
  easyres-pwa/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

component added
  easyres-keukenbarscherm/src/app/app-routing.module.ts
  easyres-keukenbarscherm/src/app/app.module.ts
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.html
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.scss
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-keukenbarscherm/src/app/services/common.service.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/services/restaurant.service.ts
  easyres-keukenbarscherm/src/app/toolbar/toolbar.component.html
Due: none

email na verwijderen toegevoegd
  easyres-api/Controllers/ReserveringController.cs
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-keukenbarscherm/src/app/services/common.service.ts
  easyres-keukenbarscherm/src/app/services/restaurant.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

unit tests
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.spec.ts
Due: none

fix msalguard
  easyres-keukenbarscherm/src/app/app-routing.module.ts
Due: none

SQL Update + start migrations
  Azure Commands/SQL_Drop ALL.sql
  Azure Commands/SQL_Drop Gebruikers.sql
  easyres-api/easyres-api.csproj
  easyres-api/sql/update_to_latest.sql
Due: azure-pipelines/azure-pipelines-api.yml

Factuur meer-info
  easyres-api/Controllers/FactuurController.cs
  easyres-pwa/src/app/app-routing.module.ts
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/facturenfactuur/facturenfactuur.component.html
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.html
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.scss
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.spec.ts
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.ts
  easyres-pwa/src/app/services/factuur.service.ts
Due: azure-pipelines/azure-pipelines-api.yml, azure-pipelines/azure-pipelines-pwa.yml

fixes restaurantId reservatie lijst
  easyres-keukenbarscherm/src/app/reservatie-lijst/reservatie-lijst.component.ts
  easyres-keukenbarscherm/src/app/services/msal.service.ts
  easyres-keukenbarscherm/src/app/services/user.service.ts
Due: none

bugfix
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Styling + move
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/facturen/facturen.component.scss
  easyres-pwa/src/app/facturen/facturen.component.spec.ts
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.html
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.scss
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.spec.ts
  easyres-pwa/src/app/facturen/facturenfactuur/facturenfactuur.component.ts
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.html
  easyres-pwa/src/app/factuur-more-info/factuur-more-info.component.scss
  easyres-pwa/src/app/reservatie/reservatie.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Bugfix door probleem met Azure
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Model/DbInitializer.cs
  easyres-api/Services/PDFGenerator.cs
  easyres-api/Services/SendGridEmailSender.cs
Due: azure-pipelines/azure-pipelines-api.yml

Verwijderen van alle hardcoded restaurantId's
  easyres-api/Model/Bestelling.cs
  easyres-keukenbarscherm/src/app/bar/bar.component.html
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.html
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
  easyres-keukenbarscherm/src/app/services/data.service.ts
Due: azure-pipelines/azure-pipelines-api.yml

Testen laten slagen van keukenbarscherm
  easyres-keukenbarscherm/src/app/bar/bar.component.ts
  easyres-keukenbarscherm/src/app/controle-paneel/controle-paneel.component.ts
  easyres-keukenbarscherm/src/app/keuken/keuken.component.ts
Due: none

DbInit verwijderen onnodige gebruiker
  easyres-api/Model/DbInitializer.cs
Due: azure-pipelines/azure-pipelines-api.yml

Update azure-pipelines-pwa.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-pwa.yml
Due: none

Kaart tonen op fixed locatie
  easyres-pwa/package-lock.json
  easyres-pwa/package.json
  easyres-pwa/src/app/app.module.ts
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.html
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.scss
  easyres-pwa/src/app/restaurant-info/restaurant-info.component.ts
Due: azure-pipelines/azure-pipelines-pwa.yml

Aanpassen package Migradoc
  easyres-api/easyres-api.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Remove Image for test
  easyres-api/Services/PDFGenerator.cs
Due: azure-pipelines/azure-pipelines-api.yml

Terugzetten naar vorige NuGet package
  easyres-api/easyres-api.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix pdfgenerator
  easyres-api/Services/PDFGenerator.cs
  easyres-api/Services/SendGridEmailSender.cs
  easyres-api/factuur187.pdf
Due: azure-pipelines/azure-pipelines-api.yml

Verwijderen overbodige factuur
  easyres-api/factuur187.pdf
Due: azure-pipelines/azure-pipelines-api.yml

Laatste bugifx voor pdfgenerator
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Controllers/ReserveringController.cs
  easyres-api/Services/PDFGenerator.cs
  easyres-api/Services/SendGridEmailSender.cs
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix test
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

bugfix test
  easyres-api/Controllers/FactuurController.cs
Due: azure-pipelines/azure-pipelines-api.yml

bugfix test
  easyres-api/Controllers/FactuurController.cs
  easyres-api/Services/PDFGenerator.cs
Due: azure-pipelines/azure-pipelines-api.yml

bugfix test
  easyres-api/Services/PDFGenerator.cs
Due: azure-pipelines/azure-pipelines-api.yml
